body {
  height: 100%;
  font-family: 'Alice', serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
* {
  outline: none;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
html{
  &.overflow{
    height: auto;
    position: relative;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
    body{
      height: auto;
      position: relative;
      overflow: hidden !important;
    }
  }
}
svg {
  transform: translateZ(0);
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="submit"] {
  cursor: pointer;
}
.icon-baloon{
  width: 14px;
  height: 19px;
}
.icon-phone-gradient{
  width:16px;
  height:16px;
}
.icon-timer{
  width:20px;
  height:20px;
}
.icon-email-gradient{
  width:18px;
  height:14px;
}
.icon-pdf{
  width: 18px;
  height: 24px;
}
h1 {
  font-size: 34px;
  line-height: 36px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
}
h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
}
h4 {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
h5 {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}
h6 {
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
}
p.error {
  position: absolute;
  bottom: -32px;
  left: 30px;
  font-size: 12px;
  line-height: 14px;
  color: #d60909;
  @include response(767px) {
    bottom: -28px;
    left: 10px;
    font-size: 11px;
  }
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  padding-top: 104px;
  @include response(767px) {
    padding-top: 72px;
  }
  &.menu-padding{
    @include response(767px) {
      padding-top: 130px;
    }
    @include response(420px) {
      padding-top: 150px;
    }
  }
}
body.main-page,
body.custome-page {
  .wrapper {
    padding-top: 0;
  }
}
.holder-block {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.holder {
  overflow: hidden;
  position: relative;
  height: 100%;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 8;
  }
}
.main-subtitle {
  display: table;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 70px;
  margin-bottom: 16px;
  color: #4d4444;
  @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
    background: $gold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &::before {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $gold;
  }
  &--silver {
    color: #fff;
    @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
      background: $silver;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.show-all {
  position: relative;
  display: table;
  margin: 0 auto;
  font-family: $font;
  line-height: 19px;
  font-size: 15px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transition: .3s ease-in-out;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: #000;
    transition: .3s ease-in-out;
  }
  @include hover() {
    color: #4d4444;
    &::before {
      background: $main;
    }
  }
}
.text {
  font-family: $font;
  line-height: 26px;
  font-size: 16px;
  color: #525252;
  h3 {
    font-family: 'Alice', serif;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
  }
  ul {
    padding: 0 0 0 20px;
    li {
      font-weight: 600;
    }
  }
  p {
    @include marginY();
  }
}
.form-block {
  width: 100%;
  position: relative;
}
.head-block {
  max-width: 1400px;
  width: 100%;
  margin: 40px auto;
  &--center {
    text-align: center;
    .head-title {
      max-width: 885px;
      width: 100%;
      margin: 0 auto;
    }
  }
  @include response(1449px) {
    padding: 0 15px;
  }
  @include response(767px) {
    margin: 60px auto 35px;
  }
}
.head-title {
  line-height: 50px;
  font-size: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  @include response(1249px) {
    text-align: center;
  }
  @include response(767px) {
    font-size: 28px;
    line-height: normal;
    letter-spacing: 0.15em;
  }
}
.breadcrumb {
  margin: 0 auto 25px;
  padding: 0;
  list-style: none;
  max-width: 1400px;
  letter-spacing: -4px;
  font-size: 14px;
  &:not(.brand-breadcrumb){
    @include response(1249px) {
      text-align: center;
    }
    @include response(1199px) {
      padding: 0 15px;
    }
    @include response(767px) {
      display: none;
    }
  }
  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 13px;
    font-family: $font;
    //font-style: italic;
    & + li {
      margin-left: 32px;
      &::after {
        content:'';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -16px;
        width: 4px;
        height: 4px;
        background: $gold;
        border-radius: 50%;
      }
    }
  }
  a {
    color: #525252;
    text-decoration: none;
    font-weight: 500;
    transition: .3s ease-in-out;
    span {
      color: #525252;
      transition: .3s ease-in-out;
      @include hover() {
        text-decoration: underline;
      }
    }
  }
  span {
    color: rgba(82, 82, 82, 0.6);
  }
  &.brand-breadcrumb{
    margin-bottom: 0;
    text-transform: none;
    text-align: left;
    li{
      font-style: normal;
      font-size: 14px;
      text-transform: uppercase;
      &+li{
        margin-left: 26px;
        text-transform: lowercase;
        &::first-letter{
          text-transform: uppercase;
        }
      }
      &:after{
        opacity: .6;
      }
    }
    a,a span{
      font-weight: 400;
      color:#000;
      transition: color .3s;
      @include hover() {
        color: #000!important;
      }
    }
  }
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  li {
    a,
    span {
      margin: 0 20px;
      width: 50px;
      height: 50px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      @include flexC();
      text-decoration: none;
      line-height: 23px;
      font-size: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #525252;
      transform: rotate(45deg);
      small {
        font-size: 100%;
        transform: rotate(-45deg);
      }
      @include response(600px) {
        width: 40px;
        height: 40px;
        display: none;
        margin: 0 15px;
      }
    }
    a {
      transition: .4s ease-in-out;
      svg {
        fill: #000417;
        transition: .4s ease-in-out;
      }
      @include hover() {
        border-color: $main;
        transition: .4s ease-in-out;
        svg {
          fill: $main;
          transition: .4s ease-in-out;
        }
      }
    }
    span {
      background: $gold;
      color: #fff;
      border: none;
      @include response(600px) {
        display: flex;
      }
    }
    &.first {
      margin: 0 100px 0 0;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @include response(1249px) {
        margin: 0 40px 0 0;
      }
      a {
        width: auto;
        border: none;
        color: rgba(0, 4, 23, 0.4);
        transition: .3s ease-in-out;
        transform: rotate(0);
        @extend %flex-c;
        @include response(991px) {
          font-size: 0;
          margin: 0;
        }
        @include response(500px) {
          display: flex;
          font-size: 0;
        }
      }
      svg {
        margin-right: 6px;
        fill: $main;
        width: 22px;
        height: 22px;
        transition: .3s ease-in-out;
        @include response(991px) {
          margin: 0;
        }
      }
      @include hover() {
        a {
          color: #525252;
        }
        svg {
          fill: #525252;
        }
      }
      @include response(991px) {
        flex-shrink: 0;
        margin: 0;
        svg {
          margin: 0;
        }
      }
      &.disabled {
        background: #f0f3f4;
        opacity: 0.5;
        border-color: #e2e8ea;
        border-radius: 40px;
        pointer-events: none;
      }
    }
    &.last {
      margin: 0 0 0 100px;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @include response(1249px) {
        margin: 0 0 0 40px;
      }
      a {
        width: auto;
        border: none;
        color: rgba(0, 4, 23, 0.4);
        transition: .3s ease-in-out;
        transform: rotate(0);
        @include response(991px) {
          font-size: 0;
          margin: 0;
        }
        @include response(500px) {
          display: flex;
          font-size: 0;
        }
      }
      svg {
        margin-left: 6px;
        fill: $main;
        width: 22px;
        height: 22px;
        transition: .3s ease-in-out;
        @include response(991px) {
          margin: 0;
        }
      }
      @include hover() {
        a {
          color: #525252;
        }
        svg {
          fill: #525252
        }
      }
      @include response(991px) {
        margin: 0;
        flex-shrink: 0;
        svg {
          margin: 0;
        }
      }
      &.disabled {
        background: #f0f3f4;
        opacity: 0.5;
        border-color: #e2e8ea;
        border-radius: 40px;
        pointer-events: none;
      }
    }
    &.dots {
      position: relative;
      border-radius: 50%;
      width: 32px;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      &::before {
        content: '...';
        width: 16px;
        font-size: 20px;
        letter-spacing: 3px;
        color: #000417;
        text-align: center;
      }
      @include response(600px) {
        display: flex;
        width: 24px;
      }
    }
    &:nth-child(2) {
      @include response(600px) {
        a {
          display: flex;
        }
      }
    }
    &:nth-last-child(2) {
      @include response(600px) {
        a {
          display: flex;
        }
      }
    }
  }
}
.slick-dots {
  left: 0;
}
.main-button {
  position: relative;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  height: 56px;
  background-image: linear-gradient(89.95deg, #8f6d55 1.92%, #4d4444 97.45%);
  background-size: 100%;
  z-index: 2;
  @extend %flex-c;
  color: #fff;
  text-decoration: none;
  font-family: $font;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  cursor: pointer;
  border: none;
  transition: .3s ease-in-out;
  &:before {
    content: '';
    background-image: linear-gradient(89.95deg, #4d4444 1.92%, #8f6d55 97.45%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.6s;
  }
  @include hover() {
    color: rgba(255, 255, 255, 0.6);
    transition: .3s ease-in-out;
    &::before {
      opacity: 1;
    }
  }
  &.btn-outlined {
    background: transparent;
    border: 1px solid #dedede;
    color: #8b6d55;
    &:hover{
      color: #fff;
    }
  }
}
.form-block {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  &::before {
    content: "*";
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 21px;
    left: 15px;
    color: #000;
    font-size: 32px;
  }
  .form-label {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 30px;
    top: 24px;
    font-size: 13px;
    color: #525252;
    opacity: 0.6;
    transition: .15s ease-in-out;
    z-index: 1;
    pointer-events: none;
  }
  &__col {
    max-width: 500px;
    width: 100%;
    margin: 0 15px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 -15px;
    .form-block {
      margin: 0 15px;
    }
  }
  &.not-required {
    &::before {
      display: none;
    }
  }
}
.main-input {
  width: 100%;
  height: 60px;
  border: 1px solid #dbdbdb;
  padding: 0 36px;
  font-family: $font;
  font-size: 15px;
  color: #000;
  &:focus {
    border-color: #886954;
  }
  &:focus + .form-label {
    color: #000;
    top: -5px;
    font-size: 11px;
    background: #fff;
    padding: 0 5px;
    opacity: 1;
  }
  &.value + .form-label {
    color: #000;
    top: -5px;
    font-size: 11px;
    background: #fff;
    padding: 0 5px;
    opacity: 1;
  }
  &.value{
    border-color: #878787;
  }
  &.error {
    border-color: #d60909;
  }
}
input[type=date] {
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
}
input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
.main-textarea {
  border-radius: 0;
  resize: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #000;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 22px 30px;
  border: 1px solid #dbdbdb;
  &:focus {
    border-color: #000;
  }
  &:focus + .form-label {
    color: #000;
    top: -5px;
    font-size: 11px;
    background: #fff;
    padding: 0 5px;
    opacity: 1;
  }
  &.value + .form-label {
    color: #000;
    top: -5px;
    font-size: 11px;
    background: #fff;
    padding: 0 5px;
    opacity: 1;
  }
  &.error {
    border-color: #d60909;
  }
}