$black: #000;
$white: #fff;
$font: 'Raleway', sans-serif;
$gold: linear-gradient(89.95deg, #8f6d55 1.92%, #4d4444 97.45%);
$silver: linear-gradient(90deg, #fff 0%, #6a6a6a 100%);
$main: #8f6d55;

// malishu Custom Scrollbar variable
$scroll-dragger-bar-color: #9e9e9e;
$scroll-dragger-bar-width: 3px;
$scroll-dragger-bar-radius: 0px;
$scroll-dragger-rail-color: rgba(82, 82, 82, 0.2);
$scroll-dragger-rail-width: 1px;
$scroll-dragger-rail-radius: 0px;

$sizedImagesFolder: (1364:"1200x700", 991:"830x1200", 480:"320x630");

$dataPath: '../data/';