.area {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @include response(1449px) {
    padding: 0 15px;
  }
  @include response(767px) {
    flex-direction: column;
    align-items: center;
  }
  &__sidebar {
    max-width: 320px;
    width: 100%;
    flex-basis: 320px;
    margin-right: 30px;
    border: 1px solid #efefef;
    background: #fafafa;
    @include response(1249px) {
      max-width: 225px;
      width: 100%;
      flex-basis: 225px;
      flex-shrink: 0;
    }
    @include response(767px) {
      max-width: 100%;
      flex-shrink: 1;
      flex-basis: auto;
      margin: 0 auto 30px;
    }
  }
  &__main {
    max-width: 1030px;
    width: 100%;
    flex-basis: 1030px;
    min-width: 0;
    @include response(767px) {
      flex-basis: auto;
    }
  }
  &__box {
    width: 100%;
    padding: 36px 0 40px;
  }
  &__userinfo {
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
  }
  &__userinfo-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $gold;
    margin: 0 auto 22px;
    @extend %flex-c;
  }
  &__userinfo-name {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
  }
  &__nav {
    width: 100%;
    border-top: 1px solid #efefef;
  }
  &__nav-list {
    @extend %list;
  }
  &__nav-item {
    position: relative;
    background: #fafafa;
    font-family: $font;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 0;
      background: $gold;
      transition: .3s ease-in-out;
    }
    &:last-of-type {
      border-bottom: none;
    }
    a {
      display: block;
      padding: 21px 25px;
      text-decoration: none;
      color: rgba(82, 82, 82, 0.6);
      transition: .3s ease-in-out;
    }
    @include hover() {
      a {
        color: #4D4444;
        @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
          background: $gold;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &.active {
      background: #fff;
      &::before {
        height: 100%;
      }
      a {
        color: #4D4444;
        @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
          background: $gold;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  &__top {
    padding-bottom: 15px;
    border-bottom: 1px solid $main;
    @extend %flex-v;
    justify-content: space-between;
    @include response(767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #4D4444;
    @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
      background: $gold;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__form {
    padding-top: 60px;
    .form-block {
      &::before {
        display: none;
      }
    }
    .main-button {
      max-width: 100%;
      @include response(1023px) {
        margin-top: 30px;
      }
    }
  }
  &__form-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 -15px;
    @include response(1023px) {
      width: 100%;
      flex-direction: column;
    }
  }
}

.wishlist {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -25px;
    padding-top: 72px;
    @include response(767px) {
      justify-content: center;
    }
    .product__item {
      position: relative;
      padding: 25px 20px 20px;
      max-width: 262px;
      flex-basis: 262px;
      margin: 0 25px 82px;
      height: auto;
      @include response(767px){
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    .product__image {
      margin: 30px auto 36px;
    }
    .product__title {
      font-size: 16px;
      line-height: 22px;
    }
    .product__link {
      width: 30px;
      height: 30px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
    .product__price-new {
      font-size: 18px;
      color: #525252;
      -webkit-text-fill-color: #525252;
    }
  }
}

.clear-block {
  padding-top: 60px;
  max-width: 905px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @include response(1023px) {
    flex-direction: column;
    align-items: flex-start;
  }
  &__image {
    @extend %flex-c;
    width: 224px;
    height: 224px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #fcfcfc;
    margin-right: 40px;
    @include response(1023px) {
      display: none;
    }
    svg {
      width: 97px;
      height: 89px;
    }
  }
  &__content {
    max-width: 594px;
    width: 100%;
    flex-basis: 594px;
    @include response(1023px) {
      flex-basis: auto;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 18px;
  }
  &__text {
    font-family: $font;
    font-size: 16px;
    line-height: 26px;
    color: #707070;
    margin-bottom: 26px;
  }
  &__contacts {
    margin: 0 -25px 50px;
    a {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      margin: 0 25px;
      @include response(1023px) {
        display: block;
      }
    }
  }
  .main-button {
    margin: 0;
    @include response(767px){
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.orders-history {
  &__wrap {
    padding-top: 26px;
    overflow-x: auto;
  }
  &__block {
    width: 1030px;
  }
  &__item {
    border: 1px solid #E0E0E0;
    margin-bottom: 30px;
    &.active {
      .orders-history__icon {
        border: 1px solid $main;
        background: transparent;
        &::before {
          background: $gold;
        }
        &::after {
          transition: all 0.2s ease-in-out;
          transform: translate(-50%, -50%) rotate(90deg);
          opacity: 0;
        }
      }
    }
  }
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    color: #474747;
    height: 60px;
    min-height: 60px;
    cursor: pointer;
  }
  &__inner {
    height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
  }
  &__icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    flex-shrink: 0;
    background: $gold;
    border-left: 1px solid #E0E0E0;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 2px;
      background: #fff;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 10px;
      background: #fff;
      transition: all 0.5s ease-in-out;
    }
  }
  &__title-item {
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #000;
    position: relative;
    text-align: center;
    width: 20%;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 18px;
      background: #dedede;
      top: -1px;
      right: -0px;
    }
  }
  &__price {
    text-align: center;
    width: 20%;
  }
  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__head-item {
    font-family: $font;
    font-weight: 300;
    width: 20%;
    font-size: 13px;
    color: #525252;
    text-align: center;
    &:last-of-type {
      width: 60px;
    }
  }
  &__content {
    border-top: 1px solid #E0E0E0;
  }
}

.order {
  &__item {
    margin: 0 50px;
    padding: 55px 0 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
  }
  &__image {
    max-width: 170px;
    width: 100%;
    flex-basis: 170px;
    margin-right: 25px;
  }
  &__info {
    max-width: 728px;
    width: 100%;
    flex-basis: 728px;
  }
  &__top-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding-bottom: 22px;
  }
  &__title {
    max-width: 500px;
    width: 100%;
    margin-right: 20px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    a {
      color: #000;
      text-decoration: none;
    }
  }
  &__article {
    font-family: $font;
    font-size: 13px;
    color: rgba(82, 82, 82, 0.5);
    span {
      font-family: 'Alice', sans-serif;
      font-size: 15px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #525252;
    }
  }
  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__options-item {
    text-align: center;
    position: relative;
    width: 25%;
    @include marginX();
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 28px;
      width: 1px;
      background: rgba(0, 0, 0, 0.08);
    }
    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }
  &__options-title {
    font-family: $font;
    font-size: 13px;
    color: rgba(82, 82, 82, 0.5);
    margin-bottom: 7px;
  }
  &__options-value {
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #525252;
    &.price {
      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #525252;
    }
    &.no-price {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #999;
    }
  }
  &__bottom {
    padding: 30px 50px;
  }
  &__content-item {
    font-size: 16px;
    color: #828282;
    margin-bottom: 20px;
    span {
      color: #000000;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    font-family: $font;
    color: rgba(82, 82, 82, 0.5);
    span {
      font-family: 'Alice', sans-serif;
      font-size: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000;
      margin-left: 15px;
    }
  }
  &__info-bottom {
    .order__options-item {
      margin: 0 27px;
      @include marginX();
    }
  }
}

.pdf-catalog {
  margin: 30px auto;
  iframe {
    width: 100%;
    height: 500px;
    @include response(479px) {
      height: 300px;
    }
  }
  &__download {
    @extend %flex-v;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: .3s ease-in-out;
    @include response(767px) {
      margin-top: 10px;
    }
    svg {
      margin-right: 12px;
    }
    @include hover() {
      color: $main;
    }
  }
}

.pdf-block {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding-top: 30px;
    @include response(767px) {
      justify-content: center;
    }
  }
  &__item {
    background-color: #fafafa;
    position: relative;
    max-width: 452px;
    flex-basis: 452px;
    margin: 0 25px 40px;
    height: auto;
    @include response(1449px) {
      max-width: 43%;
      flex-basis: 43%;
    }
    @include response(1023px) {
      max-width: 452px;
      flex-basis: 452px;
    }
  }
  &__image {
    display: block;
    margin-bottom: 30px;
  }
  &__link {
    @extend %flex-c;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: .3s ease-in-out;
    margin-bottom: 35px;
    span {
      border-bottom: 1px solid #000;
    }
    img {
      margin-right: 12px;
      transition: .3s ease-in-out;
    }
    @include hover() {
      color: $main;
    }
  }
  &__title {
    height: 50px;
    overflow: hidden;
    max-width: 385px;
    width: 100%;
    margin: 0 auto 20px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    padding: 0 15px;
  }
}

.discount-item {
  position: relative;
  max-width: 100%;
  flex-basis: auto;
  margin: 0 auto 36px;
  background: #fafafa;
  padding: 20px 20px 16px 48px;
  border: 1px solid #efefef;
  transition: .3s ease-in-out;
  svg {
    position: absolute;
    left: 22px;
    top: 22px;
  }
  &__title {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
    span {
      font-weight: bold;
      color: #6c574c;
    }
  }
  &__text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #000;
    a {
      color: #000;
      transition: .3s ease-in-out;
      @include hover() {
        color: #6c574c;
      }
    }
  }
}