.checkout-block {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @include response(1449px) {
    padding: 0 15px;;
  }
  @include response(1023px) {
    flex-direction: column;
    align-items: center;
  }
  @include response(767px) {
    margin: 0 auto 75px;
  }
  &__top-content {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto 45px;
    @include response(1449px) {
      padding: 0 15px;;
    }
    @include response(767px) {
      margin: 0 auto 25px;
    }
  }
  &__steps {
    max-width: 500px;
    width: 100%;
    flex-basis: 500px;
    margin-right: 30px;
    @include response(1023px) {
      flex-basis: auto;
      margin: 0 auto 40px;
    }
  }
  &__step-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 85px;
    @include response(1249px) {
      font-size: 26px;
      margin-bottom: 55px;
    }
    @include response(1023px) {
      text-align: center;
    }
    @include response(767px) {
      font-size: 20px;
      line-height: normal;
      margin-bottom: 35px;
    }
  }
  &__top {
    @extend %list;
    @extend %flex-v;
    margin-bottom: 45px;
    @include response(1023px) {
      justify-content: center;
    }
    @include response(767px) {
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
  &__item {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0 30px;
    @include marginX();
    @include response(1249px) {
      margin: 0 10px;
      letter-spacing: 0.05em;
      font-size: 13px;
    }
    @include response(767px) {
      margin: 0 0 20px;
    }
    a {
      position: relative;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.4);
      transition: .3s ease-in-out;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 1px;
        background: $gold;
        transition: .3s ease-in-out;
      }
      &.active {
        color: #4D4444;
        @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
          background: $gold;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &::before {
          width: 100%;
        }
      }
    }
  }
  &__content {
    .main-button {
      max-width: 100%;
    }
  }
  &__alert {
    font-family: $font;
    font-size: 14px;
    line-height: 23px;
    color: #525252;
    text-align: center;
    margin-top: 16px;
  }
}

.basket-block {
  max-width: 624px;
  width: 100%;
  flex-basis: 624px;
  @include response(1023px) {
    flex-basis: auto;
  }
  &__list {
    margin-bottom: 10px;
    max-height: 660px;
    margin-bottom: 38px;
    overflow: hidden;
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
    margin-bottom: 0;
  }
  &__delete {
    margin-right: 22px;
    cursor: pointer;
    transition: .3s ease-in-out;
    svg {
      width: 15px;
      height: 15px;
      fill: $main;
    }
    @include hover() {
      opacity: 0.6;
    }
    @include response(767px) {
      margin-right: 15px;
      align-self: flex-start;
      margin-top: 35px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }
  &__image {
    background: #fafafa;
    max-width: 170px;
    width: 100%;
    flex-basis: 1700px;
    margin-right: 30px;
    flex-shrink: 0;
    @include response(767px) {
      align-self: flex-start;
      flex-shrink: 1;
      flex-basis: auto;
      max-width: 90px;
      margin-right: 10px;
    }
  }
  &__main {
    max-width: 386px;
    width: 100%;
    flex-basis: 386px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @include response(767px) {
      flex-direction: column;
    }
  }
  &__title {
    max-width: 270px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 8px;
    @include response(767px) {
      font-size: 14px;
      line-height: normal;
    }
    a {
      text-decoration: none;
      color: #000;
      @include hover() {
        color: #4D4444;
        @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
          background: $gold;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  &__article {
    font-family: $font;
    font-size: 13px;
    color: #525252;
    margin-bottom: 36px;
    @include response(767px) {
      font-size: 11px;
      margin-bottom: 15px;
    }
  }
  &__price {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    @include response(767px) {
      margin-top: 5px;
      font-size: 14px;
      line-height: normal;
    }
    &.no-price {
      color: #999;
    }
  }
  &__total {
    padding: 25px 0;
    background: #fafafa;
    @extend %flex-c;
    margin-bottom: 4px;
    small {
      font-family: $font;
      font-size: 13px;
      color: #3e4c4c;
      margin-right: 16px;
    }
    span {
      font-size: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #4D4444;
      @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
        background: $gold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__alert {
    text-align: center;
    border: 1px solid #dedede;
    padding: 12px 15px;
    @extend %flex-c;
    font-family: $font;
    font-size: 14px;
    line-height: 23px;
    color: #000;
    svg {
      flex-shrink: 0;
      margin-right: 10px;
    }
    @include response(1249px) {
      font-size: 12px;
    }
    @include response(767px) {
      line-height: normal;
    }
  }
}

.product-quantity {
  width: 110px;
  height: 40px;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  @include response(767px) {
    height: 30px;
    width: 100px;
  }
  &__button {
    @extend %flex-c;
    width: 30px;
    height: 100%;
    flex-shrink: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: .3s ease-in-out;
    svg {
      width: 10px;
      height: 10px;
    }
    @include hover() {
      background: #f6f6f6;
    }
  }
  &__input {
    font-family: 'Alice', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    width: 48px;
    height: 100%;
    text-align: center;
    border: none;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    @include response(767px) {
      font-size: 16px;
    }
  }
}

.checkout-done {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 155px;
  text-align: center;
  @include response(767px) {
    padding: 0 15px;
    margin: 100px auto 75px;
  }
  &__image {
    margin: 0 auto 40px;
  }
  &__title {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 24px;
    @include response(767px) {
      font-size: 20px;
      line-height: normal;
    }
  }
  &__text {
    max-width: 368px;
    width: 100%;
    margin: 0 auto 58px;
    font-family: $font;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000;
    span {
      color: #4D4444;
      @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
        background: $gold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    strong {
      font-weight: 600;
    }
    @include response(767px) {
      font-size: 14px;
      line-height: 23px;
      margin: 0 auto 35px;
    }
  }
}

.going-try {
  width: 100%;
  height: 45px;
  border: 1px solid #dedede;
  padding: 0 20px;
  @extend %flex-v;
  margin-bottom: 30px;
  font-size: 14px;
  color: #000;
}

.tooltip-info {
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  &__popup {
    width: 310px;
    background: #000;
    color: #fff;
    position: absolute;
    left: -10px;
    top: 100%;
    margin-top: 15px;
    z-index: 3;
    padding: 15px 20px 25px;
    font-weight: 500;
    font-size: 12px;
    line-height: 175%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 10px;
      @include triangle(up, 10px, #000)
    }
    &.open {
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
    @include response(767px) {
      right: -95px;
      left: auto;
      margin-top: 25px;
    }
  }
}

.loyalty-info {
  @extend %flex-v;
  flex-wrap: wrap;
  background: #fafafa;
  border: 1px dashed #efefef;
  padding: 20px;
  margin-bottom: 35px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  svg {
    margin-right: 10px;
  }
  a {
    color: #000;
  }
  @include response(767px) {
    padding: 20px 15px;
  }
  @include response(359px) {
   font-size: 13px;
  }
}

.promocode-block {
  &__title {
    @extend %flex-v;
    justify-content: space-between;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 14px;
    .tooltip-info__popup {
      right: -10px;
      left: auto;
      margin-top: 25px;
      &::before {
        left: auto;
        right: 10px;
      }
    }
  }
}

.discount-block {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -11px;
  &.active {
    display: flex;
  }
  &__item {
    position: relative;
    max-width: calc(50% - 22px);
    width: 100%;
    flex-basis: calc(50% - 22px);
    margin: 0 11px 20px;
    background: #fafafa;
    padding: 20px 20px 16px 48px;
    border: 1px solid #efefef;
    opacity: 0.6;
    transition: .3s ease-in-out;
    svg {
      position: absolute;
      left: 22px;
      top: 22px;
    }
    &.active {
      border-color: #4d4444;
      opacity: 1;
    }
    @include response(767px) {
      max-width: 100%;
      flex-basis: auto;
    }
  }
  &__head {
    width: 100%;
    @extend %flex-v;
    justify-content: space-between;
    margin-bottom: 8px;
    @include response(767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    @include response(767px) {
      margin-bottom: 5px;
    }
  }
  &__value {
    font-family: "Alice", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #000;
  }
  &__text {
    font-family: "Alice", sans-serif;
    font-size: 14px;
    color: #000;
    span {
      font-weight: bold;
      color: #6c574c;
    }
  }
}