.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0d0e10;
}

.footer-nav {
  border: 1px solid rgba(255, 255, 255, 0.1);
  @include response(767px) {
    display: none;
  }
  &__list {
    @extend %list;
    @extend %flex-c;
    padding: 33px 0;
  }
  &__item {
    position: relative;
    font-family: $font;
    font-weight: 500;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0 35px;
    @include response(1023px) {
      padding: 0 15px;
      font-size: 11px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      width: 1px;
      background: rgba(255, 255, 255, 0.1);
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      transition: .3s ease-in-out;
      @include hover() {
        opacity: 0.6;
      }
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }
}

.footer-info {
  &__inner {
    padding: 80px 0 35px;
    @include response(767px) {
      padding: 50px 0 30px;
    }
  }
  .logo {
    margin: 0 auto 15px;
  }
}

.copyright {
  font-family: $font;
  line-height: 19px;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 18px;
}

.socials {
  @extend %list;
  @extend %flex-c;
  margin-bottom: 65px;
  &__title {
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__item {
    @extend %flex-c;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(196, 196, 196, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    transition: .3s ease-in-out;
    a {
      @extend %flex-c;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
    svg {
      fill: #fff;
      width: 16px;
      height: 16px;
    }
    @include hover() {
      border-color: #fff;
    }
    &.border-none {
      border-color: transparent;
    }
    &--facebook {
      &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: 150%;
        background-image: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26.63 25.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%238b6d55;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eнамек%3C/title%3E%3Cpath class='cls-1' d='M21.82,12.81A8.5,8.5,0,1,1,13.6,4.32,8.5,8.5,0,0,1,21.82,12.81Zm-9.87,0V18.3h2.19V12.81h1.53L15.83,11H14.14s0-.07,0-.09c0-.32,0-.63,0-1,0-.06,0-.13,0-.19a.39.39,0,0,1,.44-.42h1.24V7.4H14.38a3.86,3.86,0,0,0-1.12.13,1.68,1.68,0,0,0-1.13.93,2.53,2.53,0,0,0-.19,1c0,.37,0,.74,0,1.11,0,.12,0,.23,0,.36H10.8v1.86Z'/%3E%3C/svg%3E");
      }
    }
    &--google {
      &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: 150%;
        background-image: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26.63 25.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%238b6d55;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eнамек%3C/title%3E%3Cpath class='cls-1' d='M19.46,6.79l-2.8,2.8-.36-.3a4.37,4.37,0,0,0-2.33-1,4.42,4.42,0,0,0-3.75,1.35A4.27,4.27,0,0,0,9,11.88a4.54,4.54,0,0,0,2.86,5.18,4.54,4.54,0,0,0,2.09.25,4.23,4.23,0,0,0,1.54-.45,4,4,0,0,0,1.82-2H13.11V11h8.31c0,.26.1.5.14.75a8.71,8.71,0,0,1,.08,1.56,9.67,9.67,0,0,1-.25,1.92,8.5,8.5,0,0,1-1,2.43,7,7,0,0,1-3.2,2.87,8.28,8.28,0,0,1-2.3.63,10.31,10.31,0,0,1-1.85.08,8.32,8.32,0,0,1-3.1-.75A8.47,8.47,0,0,1,6.15,17.1,8.19,8.19,0,0,1,5.06,14,8.49,8.49,0,0,1,16.22,4.79a8.54,8.54,0,0,1,3.09,1.87Z'/%3E%3C/svg%3E");
      }
    }
  }
}

.devs {
  text-align: center;
  font-family: $font;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #a9a9a9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  a {
    width: 100%;
  }
  &__icon-box {
    width: 95px;
    height: 15px;
    position: relative;
    overflow: hidden;
    margin-left: 18px;
  }
  &__icon {
    position: relative;
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
    svg {
      fill: #a9a9a9;
    }
  }
  &__icon-hover {
    position: relative;
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    svg {
      fill: #a9a9a9;
    }
  }
  @include hover() {
    transition: .3s ease-in-out;
    .devs__icon {
      transform: translate(0, -100%);
    }
    .devs__icon-hover {
      transform: translate(0, -100%);
    }
  }
}

.footer-subscribe {
  background: $gold;
  padding-bottom: 28px;
  @include response(767px) {
    padding: 10px 0 20px;
  }
  &__form {
    position: relative;
    max-width: 725px;
    width: 100%;
    margin: 0 auto;
    .form-block {
      &::before {
        display: none;
      }
    }
    @include response(767px) {
      padding: 0 15px;
    }
  }
  &__input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    font-family: $font;
    line-height: 19px;
    border-radius: 0px;
    font-size: 15px;
    color: #fff;
    padding: 28px 55px 24px 20px;
    &.error {
      border-color: #f00;
    }
    &::placeholder {
      font-family: $font;
      color: rgba(255, 255, 255, 0.7);
    }
    @include response(767px) {
      padding: 10px 38px 10px 0;
      &::placeholder {
        font-size: 10px;
      }
    }
    @include response(479px) {
      &::placeholder {
        font-size: 9px;
        letter-spacing: -.1px;
      }
    }
    @include response(374px) {
      padding: 10px 20px 10px 0px;
      &::placeholder {
        font-size: 8px;
        letter-spacing: -.2px;
      }
    }
  }
  &__button {
    background: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0;
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
