.search-title{
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  max-width: 700px;
  @include response(1249px){
    margin-left: auto;
    margin-right: auto;
  }
  @include response(767px){
    font-size: 25px;
    line-height: 33px;
  }
}
.search-page{
  padding: 0 30px;
  max-width: 1460px;
  margin: 0 auto 0;
  &__form{
    display: block;
    position: relative;
    margin-bottom: 30px;
    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #8f6d55;
      font-size: 20px;
      font-family: 'Alice', serif;
      letter-spacing: 0.2em;
      line-height: 27px;
      text-transform: uppercase;
      color: #000;
      padding: 18px 50px 18px 15px;
      &:focus{
        &~button .search-btn{
          fill: #866853;
        }
      }
    }
    button{
      background: transparent;
      border: none;
      width: 20px;
      top: 20px;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right: 20px;
      .search-btn{
        width: 20px;
        height: 20px;
        fill: #a9a9a9;
        transition: fill .3s;
      }
    }
  }
  &__found{
    color: #545454;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.04em;
    span{
      font-weight: 500;
      color: #000000;
    }
  }
  &__content{
    margin:44px 0 180px -20px ;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .pagination{
      margin-top: 50px;
    }
    .product__image{
      margin-bottom: 30px;
      img{
        max-height: 220px;
        display: block;
        margin: auto;
        width: auto;
      }
    }
    .product__title > a{
      height: 48px;
    }
    .product__item{
      width: calc(20% - 20px);
      height: 412px;
      flex-basis: unset;
      margin: 0 0 20px 20px;
      padding: 20px 19px 20px 18px;
    }
  }
  @include response(1439px){
    .product__item{
      width: calc(25% - 20px);
    }
  }
  @include response(1250px){
    .product__item{
      width: calc(33.33% - 20px);
    }
  }
  @include response(1023px){
    .product__item{
      width: calc(50% - 20px);
      max-width: calc(50% - 20px);
      height: auto;
      flex-basis:  calc(50% - 20px);
    }
  }
  @include response(767px){
    .product__image{
      img{
        max-height: 100%;
      }
    }
    .product__item{
      width: calc(100% - 20px);
      max-width: calc(100% - 20px);
      flex-basis:  calc(100% - 20px);
    }
  }
}
.not-found{
  border: 1px solid #EFEFEF;
  background: #fafafa;
  color:#000;
  text-align: center;
  margin:60px auto 130px;
  padding: 82px 15px 110px 15px;
  img{
    width: 80px;
    height: 80px;
    margin:0 auto 32px;
    display: block;
  }
  .title{
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .text{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  @include response(767px){
    .title{
      font-size: 18px;
      line-height: 25px;
    }
  }
}