select{
  display: none;
}
.select {
  font-family: $font;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #525252;
  margin: 0;
  border: 1px solid #e8e8e8;
  padding: 20px 50px 20px 30px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  &::after {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    content: '';
    height: 7px;
    width: 7px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: translateY(-50%);
    border-left: none;
    border-bottom: none;
    border: 4px solid transparent;
    border-top: 5px solid #000;
    margin-top: 2px;
    transition: all 0.15s ease-in-out;
  }
  &:focus{
    border-color: #666;
  }
  &__current {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &--open {
    overflow: visible;
    z-index: 4;
    &::after {
      transform: translateY(-50%) rotate(-180deg);
      margin-top: -5px;
    }
  }
  &__list {
    position: absolute;
    @extend %list;
    width: 100%;
    left: 0;
    top: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-top: 2px;
    opacity: 0;
    padding: 22px 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-2em);
    transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.1s ease-out;
    z-index: -1;
    .mCSB_scrollTools {
      right: 20px;
    }
    .select--open & {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transform: scale(1) translateY(0);
    }
  }
  &__item {
    padding: 10px 33px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    &:hover{
      color: $main;
    }
    &--active {
      color: $main;
      font-weight: bold;
    }
    &--disabled {
      display: none;
      cursor: not-allowed;
    }
  }
}
