<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="custome-page custome">
    <div class="wrapper">
    {% include 'header.html' %}
      
    <div class="top-section" style="background-image: url('data/top-section-img-1.webp')">
      <div class="head-block head-block--center">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">О нас</span>
            <meta itemprop="position" content="2" />
          </li>
        </ol>
      </div>
      <div class="top-section__box">
        <div class="top-section__title">Empire Hall</div>
        <div class="top-section__text">Vivere in deliciis</div>
      </div>
    </div>

    <div class="about-content">
      <div class="about-content__image">
        <img src="data/about-content-img-1.webp" width="594" height="715" alt="">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#about-content-decore"></use></svg>
      </div>
      <div class="about-content__content">
        <div class="about-content__title">Наша история</div>
        <div class="about-content__text">
          Пятьдесят лет спустя Зеев все еще взволнован своей витриной. На этот раз, однако, это в гораздо большем масштабе. Магазин ARAM, расположенный в самом сердце Ковент-Гарден, в настоящее время является главным местом назначения мебели и дизайна изделий в столице. «Я хочу предоставить как можно более широкий ассортимент людям, желающим получить высококачественный дизайн и производство, а также отличный сервис». Теперь, когда британцы, наконец, приняли современный дизайн, Зеев намеревается дать им его во всех размерах, формах и цветах, от его любимой лампы Castiglioni Toio до совершенно нового прототипа от неизвестного дизайнера, только что из 
        </div>
        <div class="about-content__quote">Пятьдесят лет спустя Зеев все еще взволнован своей витриной. На этот раз, однако, это в гораздо большем масштабе. </div>
      </div>
    </div>
    
    <div class="mission-block">
      <div class="mission-block__inner" style="background-image: url(data/advantages-bg.webp)">
        <div class="mission-block__box">
          <div class="mission-block__title">Миссия</div>
          <div class="mission-block__text text">
            Пятьдесят лет спустя Зеев все еще взволнован своей витриной. На этот раз, однако, это в гораздо большем масштабе. Магазин ARAM, расположенный в самом сердце Ковент-Гарден, в настоящее время является главным местом назначения мебели и дизайна изделий в столице. «Я хочу предоставить как можно более широкий ассортимент людям, желающим получить высококачественный дизайн и производство, а также отличный сервис». 
          </div>
        </div>
      </div>
    </div>

    <div class="about-brands">
      <div class="about-brands__slider">
        <div class="about-brands__slide">
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
          </div>
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
          </div>
        </div>
        <div class="about-brands__slide">
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
          </div>
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-4.webp" alt="" class="lazyload">
          </div>
        </div>
        <div class="about-brands__slide">
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
          </div>
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
          </div>
        </div>
        <div class="about-brands__slide">
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
          </div>
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
          </div>
        </div>
        <div class="about-brands__slide">
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
          </div>
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
          </div>
        </div>
        <div class="about-brands__slide">
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
          </div>
          <div class="about-brands__image">
            <img data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
          </div>
        </div>
      </div>
    </div>

    <div class="about-image">
      <img data-src="data/about-image-1.webp" width="1920" height="900" alt="" class="lazyload">
    </div>

    <div class="about-advantages" style="background-image: url(data/main-catalog-bg.webp)">
      <div class="about-advantages__inner">
        <div class="about-advantages__title">преимущества</div>
        <div class="about-advantages__list">
          <div class="main-advantages__item" style="background-image: url(data/advantages-bg.webp)">
            <div class="main-advantages__box">
              <div class="main-advantages__image">
                <img src="data/main-advantages-img-1.svg" width="80" height="109" alt="">
              </div>
              <div class="main-advantages__title">Дизайнерский подход</div>
              <div class="main-advantages__text">В нашей команде работают профессиональные менеджеры – декораторы. Они помогут вам подобрать посуду, столовые приборы, текстиль и аксессуары, которые идеально дополнять ваш интерьер, и станут частью дизайна вашего дома, офиса, ресторана.</div>
            </div>
          </div>
          <div class="main-advantages__item" style="background-image: url(data/advantages-bg.webp)">
            <div class="main-advantages__box">
              <div class="main-advantages__image">
                <img src="data/main-advantages-img-2.svg" width="80" height="109" alt="">
              </div>
              <div class="main-advantages__title">Подача</div>
              <div class="main-advantages__text">В нашей команде работают профессиональные менеджеры – декораторы. Они помогут вам подобрать посуду, столовые приборы, текстиль и аксессуары, которые идеально дополнять ваш интерьер, и станут частью дизайна вашего дома, офиса, ресторана.</div>
            </div>
          </div>
          <div class="main-advantages__item" style="background-image: url(data/advantages-bg.webp)">
            <div class="main-advantages__box">
              <div class="main-advantages__image">
                <img src="data/main-advantages-img-3.svg" width="80" height="109" alt="">
              </div>
              <div class="main-advantages__title">Мастер классы</div>
              <div class="main-advantages__text">В нашей команде работают профессиональные менеджеры – декораторы. Они помогут вам подобрать посуду, столовые приборы, текстиль и аксессуары, которые идеально дополнять ваш интерьер, и станут частью дизайна вашего дома, офиса, ресторана.</div>
            </div>
          </div>
          <div class="main-advantages__item" style="background-image: url(data/advantages-bg.webp)">
            <div class="main-advantages__box">
              <div class="main-advantages__image">
                <img src="data/main-advantages-img-4.svg" width="80" height="109" alt="">
              </div>
              <div class="main-advantages__title">Наличие</div>
              <div class="main-advantages__text">В нашем салоне большой ассортимент товаров в наличии, которые вы можете приобрести здесь и сейчас.</div>
            </div>
          </div>
          <div class="main-advantages__item" style="background-image: url(data/advantages-bg.webp)">
            <div class="main-advantages__box">
              <div class="main-advantages__image">
                <img src="data/main-advantages-img-5.svg" width="80" height="109" alt="">
              </div>
              <div class="main-advantages__title">Разнообразие</div>
              <div class="main-advantages__text">Мы почитаем наследие, и идем в ногу со временем. В нашем салоне вы найдете, как предметы с многовековой историей, так и последние творения современных дизайнеров.</div>
            </div>
          </div>
          <div class="main-advantages__item" style="background-image: url(data/advantages-bg.webp)">
            <div class="main-advantages__box">
              <div class="main-advantages__image">
                <img src="data/main-advantages-img-6.svg" width="80" height="109" alt="">
              </div>
              <div class="main-advantages__title">Дисконтная система</div>
              <div class="main-advantages__text">В нашей команде работают профессиональные менеджеры – декораторы. Они помогут вам подобрать посуду, столовые приборы, текстиль и аксессуары, которые идеально дополнять ваш интерьер, и станут частью дизайна вашего дома, офиса, ресторана.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>