<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
  <body>
    <div class="wrapper">
    {% include 'header.html' %}
      
    <div class="head-block">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">Личный кабинет</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
      <div class="head-title">Личный кабинет</div>
    </div>

    <div class="area">
      <div class="area__sidebar">
        <div class="area__box">
          <div class="area__userinfo">
            <div class="area__userinfo-avatar">
              <img src="images/no-avatar.svg" width="29" height="29" alt="">
            </div>
            <div class="area__userinfo-name">Дмитрий Макогон</div>
          </div>
        </div>
        <nav class="area__nav">
          <ul class="area__nav-list">
            <li class="area__nav-item">
              <a href="#">Мои данные</a>
            </li>
            <li class="area__nav-item">
              <a href="#">Мои заказы</a>
            </li>
            <li class="area__nav-item active">
              <a href="#">Избранное</a>
            </li>
            <li class="area__nav-item">
              <a href="#">Смена пароля</a>
            </li>
            <li class="area__nav-item">
              <a href="#">PDF Каталог</a>
            </li>
            <li class="area__nav-item">
              <a href="#">выход</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="area__main">
        <div class="area__top">
          <div class="area__title">Избранное</div>
        </div>
        <div class="clear-block">
          <div class="clear-block__image">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#clear-block-img"></use></svg>
          </div>
          <div class="clear-block__content">
            <div class="clear-block__title">Ваш список избранного пуст</div>
            <div class="clear-block__text">
              Как же так? Вы еще ничего не заказали. Чтобы сделать заказ на нашем сайте просто выберите товар, положите его в корзину и заполните короткую форму. Если у вас остались вопросы, просто позвоните нам по телефону:
            </div>
            <div class="clear-block__contacts">
              <a href="tel:+380936719152">+38 (093) 671 - 91 - 52</a>
              <a href="tel:+380936719152">+38 (093) 671 - 91 - 52</a>
            </div>
            <a class="main-button" href="#">Перейти к покупкам</a>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>