<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
  <body>
    <div class="wrapper">
    {% include 'header.html' %}

    <div class="head-block head-block--center">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">Бренды</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
      <div class="head-title">Бренды</div>
    </div>

    <div class="brands-section">
      <div class="brands-section__slider">
        <div class="brands-section__slide" style="background-image: url(data/brands-img-1.webp)">
          <div class="brands-section__content">
            <div class="brands-section__title">Robert Haviilend</div>
            <div class="brands-section__text">Lismore Lace Dinnerware</div>
          </div>
        </div>
        <div class="brands-section__slide" style="background-image: url(data/brands-img-1.webp)">
          <div class="brands-section__content">
            <div class="brands-section__title">Robert Haviilend</div>
            <div class="brands-section__text">Lismore Lace Dinnerware</div>
          </div>
        </div>
        <div class="brands-section__slide" style="background-image: url(data/brands-img-1.webp)">
          <div class="brands-section__content">
            <div class="brands-section__title">Robert Haviilend</div>
            <div class="brands-section__text">Lismore Lace Dinnerware</div>
          </div>
        </div>
        <div class="brands-section__slide" style="background-image: url(data/brands-img-1.webp)">
          <div class="brands-section__content">
            <div class="brands-section__title">Robert Haviilend</div>
            <div class="brands-section__text">Lismore Lace Dinnerware</div>
          </div>
        </div>
      </div>
      <a href="#" class="main-section__button">
        <span>
          <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
            <path d="M 50,50 m 0,-49.5 a 49.5,49.5 0 1 1 0,99 a 49.5,49.5 0 1 1 0,-99" stroke="#fff" stroke-width="1" fill-opacity="0" ></path>
          </svg>
        </span>
        В каталог
      </a>
    </div>

    <div class="popular-brands">
      <div class="popular-brands__main-title">Популярные бренды</div>
      <div class="popular-brands__slider">
        <a href="#" class="popular-brands__slide">
          <div class="popular-brands__image">
            <img src="https://empirehall.test-lemon.com/image/cache/placeholder-158x79.png" width="446" height="446" alt="">
          </div>
          <div class="popular-brands__box">
            <div class="popular-brands__title">Baccarat</div>
            <div class="popular-brands__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="popular-brands__slide">
          <div class="popular-brands__image">
            <img src="data/logo.svg" data-src="data/popular-brands-img-1.webp" width="446" height="446" alt="" class="lazyload">
          </div>
          <div class="popular-brands__box">
            <div class="popular-brands__title">Baccarat</div>
            <div class="popular-brands__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="popular-brands__slide">
          <div class="popular-brands__image">
            <img src="data/logo.svg" data-src="data/popular-brands-img-1.webp" width="446" height="446" alt="" class="lazyload">
          </div>
          <div class="popular-brands__box">
            <div class="popular-brands__title">Baccarat</div>
            <div class="popular-brands__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="popular-brands__slide">
          <div class="popular-brands__image">
            <img src="data/logo.svg" data-src="data/popular-brands-img-1.webp" width="446" height="446" alt="" class="lazyload">
          </div>
          <div class="popular-brands__box">
            <div class="popular-brands__title">Baccarat</div>
            <div class="popular-brands__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
      </div>
    </div>

    <div class="all-brands">
      <div class="all-brands__title">Все бренды</div>
      <div class="all-brands__list">
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-1.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-3.webp" alt="" class="lazyload">
        </a>
        <a href="#" class="all-brands__item">
          <img src="data/logo.svg" data-src="data/main-brands-img-2.webp" alt="" class="lazyload">
        </a>

      </div>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>