<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    <div class="wrapper">
    {% include 'header.html' %}

    <div class="head-block head-block--center">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">Вдохновение</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
      <div class="head-title">Вдохновение</div>
    </div>

    <div class="inspiration-block">
      <div class="inspiration-block__description">Пятьдесят лет спустя Зеев все еще взволнован своей витриной. На этот раз, однако, это в гораздо большем масштабе. Магазин ARAM, расположенный в самом сердце Ковент-Гарден, </div>
      <div class="inspiration-block__list">
        <a href="#" class="inspiration-block__item inspiration-block__item--large">
          <div class="inspiration-block__image">
            <img src="data/inspiration-image-1.webp" width="1400" height="680" alt="">
          </div>
          <div class="inspiration-block__box">
            <div class="inspiration-block__title">Haviland "Plumes"</div>
            <div class="inspiration-block__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="inspiration-block__item">
          <div class="inspiration-block__image">
            <img src="data/inspiration-image-2.webp" width="680" height="680" alt="">
          </div>
          <div class="inspiration-block__box">
            <div class="inspiration-block__title">Haviland "Plumes"</div>
            <div class="inspiration-block__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="inspiration-block__item">
          <div class="inspiration-block__image">
            <img src="data/inspiration-image-3.webp" width="680" height="680" alt="">
          </div>
          <div class="inspiration-block__box">
            <div class="inspiration-block__title">Haviland "Plumes"</div>
            <div class="inspiration-block__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="inspiration-block__item inspiration-block__item--large">
          <div class="inspiration-block__image">
            <img src="data/inspiration-image-1.webp" width="1400" height="680" alt="">
          </div>
          <div class="inspiration-block__box">
            <div class="inspiration-block__title">Haviland "Plumes"</div>
            <div class="inspiration-block__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="inspiration-block__item">
          <div class="inspiration-block__image">
            <img src="data/inspiration-image-2.webp" width="680" height="680" alt="">
          </div>
          <div class="inspiration-block__box">
            <div class="inspiration-block__title">Haviland "Plumes"</div>
            <div class="inspiration-block__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
        <a href="#" class="inspiration-block__item">
          <div class="inspiration-block__image">
            <img src="data/inspiration-image-3.webp" width="680" height="680" alt="">
          </div>
          <div class="inspiration-block__box">
            <div class="inspiration-block__title">Haviland "Plumes"</div>
            <div class="inspiration-block__text">Lismore Lace Dinnerware</div>
          </div>
        </a>
      </div>
      <div class="inspiration-block__content">
        <div class="inspiration-block__content-title">Вдохновение</div>
        <div class="inspiration-block__content-text text scroll-text">
          <p>Fifty years later, Zeev is still agitated by his showcase. This time, however, it is on a much larger scale. ARAM, located in the heart of Covent Garden, is currently the main destination for furniture and product design in the capital. “I want to provide as wide a range as possible to people who want high-quality design and production, as well as excellent service.” Now that the British have finally adopted modern design, Zeev intends to give it in all sizes, shapes and colors, from his beloved Castiglioni Toio lamp to a completely new prototype from an unknown designer, just from Fifty years later, Zeev is still agitated by his showcase . This time, however, it is on a much larger scale. ARAM Shop,
                Fifty years later, Zeev is still agitated by his showcase. This time, however, it is on a much larger scale. ARAM, located in the heart of Covent Garden, is currently the main destination for furniture and product design Fifty years later, Zeev is still excited about his showcase. This time, however, it is on a much larger scale. ARAM, located in the heart of Covent Garden, is currently the main destination of furniture and </p>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>