<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="inspiration-page">
    <div class="wrapper">
    {% include 'header.html' %}

    <div class="head-block">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Вдохновение</span></a>
          <meta itemprop="position" content="2" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">Haviland "Plumes"</span>
          <meta itemprop="position" content="3" />
        </li>
      </ol>
    </div>

    <div class="inspiration-single__wrap">
      <div class="inspiration-single">
        <div class="inspiration-single__inner">
        <div class="inspiration-single__title">Haviland "Plumes"</div>
        <div class="inspiration-single__subtitle">Lismore Lace Dinnerware</div>
        <div class="inspiration-single__text text">
          <p>Дом моды Gianni Versace S.p.A. был основан в 1978 году в Милане и с тех пор прочно занял позицию одного из наиболее респектабельных международных модных брендов, став символом роскоши в истинно итальянском стиле. Versace специализируется на дизайне, производстве и реализации товаров класса «люкс» — от модной одежды haute couture и коллекций готовой одежды до аксессуаров, ювелирных украшений, часов, очков, парфюмерии, а также товаров для дома, на которых гордо красуется наш фирменный логотип — голова Медузы.</p>
          <p>Группа Versace распространяет свою продукцию через глобальную сеть фирменных магазинов, находящуюся под ее прямым контролем. В данную сеть входит более 200 бутиков в крупных городах и свыше 1500 оптовых дистрибьютеров по всему миру.</p>
        </div>
        
          <div class="inspiration-single__collection">
            <div class="inspiration-single__collection-title">Товары этой колекции</div>
            <div class="inspiration-single__collection-list">
              <div class="product__item">
              <div class="product__title">
                <a href="#">Bernardaud</a>
              </div>
              <div class="product__image">
                <a href="#">
                  <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
                </a>
              </div>
              <div class="product__box">
                <div class="product__price">
                  <div class="product__price-old">24,804 uah</div>
                  <div class="product__price-new">24,804 uah</div>
                </div>
                <a class="product__link" href="#">
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
                </a>
              </div>
              </div>
              <div class="product__item">
                <div class="product__title">
                  <a href="#">"Laque de Chine" Dinner Plate</a>
                </div>
                <div class="product__image">
                  <a href="#">
                    <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
                  </a>
                </div>
                <div class="product__box">
                  <div class="product__price">
                    <div class="product__price-old">24,804 uah</div>
                    <div class="product__price-new">24,804 uah</div>
                  </div>
                  <a class="product__link" href="#">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
                  </a>
                </div>
              </div>
              <div class="product__item">
                <div class="product__title">
                  <a href="#">Bernardaud</a>
                </div>
                <div class="product__image">
                  <a href="#">
                    <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
                  </a>
                </div>
                <div class="product__box">
                  <div class="product__price">
                    <div class="product__price-old">24,804 uah</div>
                    <div class="product__price-new">24,804 uah</div>
                  </div>
                  <a class="product__link" href="#">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
                  </a>
                </div>
              </div>
              <div class="product__item">
                <div class="product__title">
                  <a href="#">"Laque de Chine" Dinner Plate</a>
                </div>
                <div class="product__image">
                  <a href="#">
                    <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
                  </a>
                </div>
                <div class="product__box">
                  <div class="product__price">
                    <div class="product__price-old">24,804 uah</div>
                    <div class="product__price-new">24,804 uah</div>
                  </div>
                  <a class="product__link" href="#">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
                  </a>
                </div>
              </div>
              <div class="product__item">
                <div class="product__title">
                  <a href="#">Bernardaud</a>
                </div>
                <div class="product__image">
                  <a href="#">
                    <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
                  </a>
                </div>
                <div class="product__box">
                  <div class="product__price">
                    <div class="product__price-old">24,804 uah</div>
                    <div class="product__price-new">24,804 uah</div>
                  </div>
                  <a class="product__link" href="#">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
                  </a>
                </div>
              </div>
              <div class="product__item">
                <div class="product__title">
                  <a href="#">Bernardaud</a>
                </div>
                <div class="product__image">
                  <a href="#">
                    <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
                  </a>
                </div>
                <div class="product__box">
                  <div class="product__price">
                    <div class="product__price-old">24,804 uah</div>
                    <div class="product__price-new">24,804 uah</div>
                  </div>
                  <a class="product__link" href="#">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="inspiration-image">
        <img src="data/inspiration-slide-1.webp" width="1860" height="860" alt="">
        <div class="inspiration-image__button"></div>
      </div>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>