<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
  <body>
    <div class="wrapper">
    {% include 'header.html' %}

    <div class="head-block head-block--center">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">Войти в личный кабинет</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
      <div class="head-title">Войти в личный кабинет</div>
    </div>

    <div class="form-box">
      <form action="#">
        <div class="form-block">
          <input class="main-input" type="email" name="email">
          <div class="form-label">Email</div>
        </div>
        <div class="form-block">
          <input class="main-input" type="password" name="password">
          <div class="form-label">Пароль</div>
        </div>
        <a class="forgot-password" href="#">Забыли пароль?</a>
        <button type="submit" class="main-button">Войти</button>

        <a class="show-all" href="#">У меня нету аккаунта</a>

      </form>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>