<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    <div class="wrapper">
    {% include 'header.html' %}

    <div class="top-section" style="background-image: url('data/top-section-img-8.webp')">
      <div class="head-block head-block--center">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">программа лояльности</span>
            <meta itemprop="position" content="2" />
          </li>
        </ol>
      </div>
      <div class="top-section__box">
        <div class="top-section__title">программа лояльности</div>
      </div>
    </div>

    <div class="loyalty-block">
      <div class="loyalty-block__content">
        <div class="main-subtitle">от 0 до 50000 грн</div>
        <div class="gift-card__title">Накопительная скидка</div>
        <div class="gift-card__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</div>
        <div class="gift-card__text">При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</div>
      </div>
      <div class="loyalty-block__discounts" style="background-image: url('data/gift-card-form-bg.webp');">
        <div class="loyalty-block__discounts-inner">
          
          <div class="loyalty-block__item">
            <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip123)">
              <path d="M0 0H11V16.2623L5.5 12.3279L0 16.2623V0Z" fill="url(#paint022)"/>
              </g>
              <defs>
              <linearGradient id="paint022" x1="10.7925" y1="8.77461" x2="0.276417" y2="8.76893" gradientUnits="userSpaceOnUse">
              <stop stop-color="#8F6D55"/>
              <stop offset="1" stop-color="#4D4444"/>
              </linearGradient>
              <clipPath id="clip123">
              <rect width="11" height="16" transform="matrix(-1 0 0 1 11 0)" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <div class="loyalty-block__head">
              <div class="loyalty-block__title">скидка 3%</div>
              <div class="loyalty-block__value">от 50000</div>
            </div>
            <div class="loyalty-block__text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. </div>
          </div>
          <div class="loyalty-block__item">
            <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip123)">
              <path d="M0 0H11V16.2623L5.5 12.3279L0 16.2623V0Z" fill="url(#paint022)"/>
              </g>
              <defs>
              <linearGradient id="paint022" x1="10.7925" y1="8.77461" x2="0.276417" y2="8.76893" gradientUnits="userSpaceOnUse">
              <stop stop-color="#8F6D55"/>
              <stop offset="1" stop-color="#4D4444"/>
              </linearGradient>
              <clipPath id="clip123">
              <rect width="11" height="16" transform="matrix(-1 0 0 1 11 0)" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <div class="loyalty-block__head">
              <div class="loyalty-block__title">скидка 5%</div>
              <div class="loyalty-block__value">от 100000</div>
            </div>
            <div class="loyalty-block__text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. </div>
          </div>
          <div class="loyalty-block__item">
            <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip123)">
              <path d="M0 0H11V16.2623L5.5 12.3279L0 16.2623V0Z" fill="url(#paint022)"/>
              </g>
              <defs>
              <linearGradient id="paint022" x1="10.7925" y1="8.77461" x2="0.276417" y2="8.76893" gradientUnits="userSpaceOnUse">
              <stop stop-color="#8F6D55"/>
              <stop offset="1" stop-color="#4D4444"/>
              </linearGradient>
              <clipPath id="clip123">
              <rect width="11" height="16" transform="matrix(-1 0 0 1 11 0)" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <div class="loyalty-block__head">
              <div class="loyalty-block__title">скидка 10%</div>
              <div class="loyalty-block__value">от 200000</div>
            </div>
            <div class="loyalty-block__text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. </div>
          </div>

        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>