<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
  <body>
    <div class="wrapper">
    {% include 'header.html' %}

      <div class="container">
        <ul>
          <li><div class="product__no-price-btm popup-open" data-for="popup-lost-basket">Брошеная корзина</div></li>
          <li><div class="product__no-price-btm popup-open" data-for="popup-callback-2">Хочу в подарок</div></li>
          <li><div class="product__no-price-btm popup-open" data-for="popup-add-basket">Товар в корзине</div></li>
          <li><div class="product__no-price-btm popup-open" data-for="popup-callback-2-sent">намек отправлен</div></li>
          <li><div class="product__no-price-btm popup-open" data-for="popup-callback-2-1">намек избранное</div></li>
        </ul>

      </div>
    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>