<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    <div class="wrapper">
    {% include 'header.html' %}
      <div class="head-block">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">Магазин</span>
            <meta itemprop="position" content="2" />
          </li>
        </ol>
        <div class="head-title search-title">Результаты по вашему запросу “подставка для десертов”</div>
      </div>
      <div class="search-page">
        <form action="" class="search-page__form">
          <input type="text" placeholder="Поиск">
          <button>
            <svg class="search-btn"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#search"></use></svg>
          </button>
        </form>
        <div class="search-page__found">
          Найдено: <span>33 товара</span>
        </div>
        <div class="search-page__content">
          <div class="product__item">
            <div class="product__title">
              <a href="#">Bernardaud</a>
              <ol class="breadcrumb brand-breadcrumb">
                <li>
                  <a href="https://example.com/dresses"><span>Baccarat</span></a>
                </li>
                <li>
                  <a href="https://example.com/dresses"><span>La scala del palazzo</span></a>
                </li>
              </ol>
            </div>
            <div class="product__image">
              <a href="#">
                <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
              </a>
            </div>
            <div class="product__box">
              <div class="product__price">
                <div class="product__price-old">24,804 uah</div>
                <div class="product__price-new">24,804 uah</div>
              </div>
              <a class="product__link" href="#">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
              </a>
            </div>
          </div>
          <div class="product__item">
            <div class="product__title">
              <a href="#">подставка для десертов подставка для десертов</a>
              <ol class="breadcrumb brand-breadcrumb">
                <li>
                  <a href="https://example.com/dresses"><span>Baccarat</span></a>
                </li>
                <li>
                  <a href="https://example.com/dresses"><span>La scala del palazzo</span></a>
                </li>
              </ol>
            </div>
            <div class="product__image">
              <a href="#">
                <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
              </a>
            </div>
            <div class="product__box">
              <div class="product__price">
                <div class="product__price-old">24,804 uah</div>
                <div class="product__price-new">24,804 uah</div>
              </div>
              <a class="product__link" href="#">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
              </a>
            </div>
          </div>
          <div class="product__item">
            <div class="product__title">
              <a href="#">Bernardaud</a>
              <ol class="breadcrumb brand-breadcrumb">
                <li>
                  <a href="https://example.com/dresses"><span>Baccarat</span></a>
                </li>
                <li>
                  <a href="https://example.com/dresses"><span>La scala del palazzo</span></a>
                </li>
              </ol>
            </div>
            <div class="product__image">
              <a href="#">
                <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
              </a>
            </div>
            <div class="product__box">
              <div class="product__price">
                <div class="product__price-old">24,804 uah</div>
                <div class="product__price-new">24,804 uah</div>
              </div>
              <a class="product__link" href="#">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
              </a>
            </div>
          </div>
          <div class="product__item">
            <div class="product__title">
              <a href="#">Bernardaud</a>
              <ol class="breadcrumb brand-breadcrumb">
                <li>
                  <a href="https://example.com/dresses"><span>Baccarat</span></a>
                </li>
                <li>
                  <a href="https://example.com/dresses"><span>La scala del palazzo</span></a>
                </li>
              </ol>
            </div>
            <div class="product__image">
              <a href="#">
                <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
              </a>
            </div>
            <div class="product__box">
              <div class="product__price">
                <div class="product__price-old">24,804 uah</div>
                <div class="product__price-new">24,804 uah</div>
              </div>
              <a class="product__link" href="#">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
              </a>
            </div>
          </div>
          <div class="product__item">
            <div class="product__title">
              <a href="#">Bernardaud</a>
              <ol class="breadcrumb brand-breadcrumb">
                <li>
                  <a href="https://example.com/dresses"><span>Baccarat</span></a>
                </li>
                <li>
                  <a href="https://example.com/dresses"><span>La scala del palazzo</span></a>
                </li>
              </ol>
            </div>
            <div class="product__image">
              <a href="#">
                <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
              </a>
            </div>
            <div class="product__box">
              <div class="product__price">
                <div class="product__price-old">24,804 uah</div>
                <div class="product__price-new">24,804 uah</div>
              </div>
              <a class="product__link" href="#">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
              </a>
            </div>
          </div>
          <div class="product__item">
            <div class="product__title">
              <a href="#">Bernardaud</a>
              <ol class="breadcrumb brand-breadcrumb">
                <li>
                  <a href="https://example.com/dresses"><span>Baccarat</span></a>
                </li>
                <li>
                  <a href="https://example.com/dresses"><span>La scala del palazzo</span></a>
                </li>
              </ol>
            </div>
            <div class="product__image">
              <a href="#">
                <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
              </a>
            </div>
            <div class="product__box">
              <div class="product__price">
                <div class="product__price-old">24,804 uah</div>
                <div class="product__price-new">24,804 uah</div>
              </div>
              <a class="product__link" href="#">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
              </a>
            </div>
          </div>
          <div class="product__item">
            <div class="product__title">
              <a href="#">Bernardaud</a>
              <ol class="breadcrumb brand-breadcrumb">
                <li>
                  <a href="https://example.com/dresses"><span>Baccarat</span></a>
                </li>
                <li>
                  <a href="https://example.com/dresses"><span>La scala del palazzo</span></a>
                </li>
              </ol>
            </div>
            <div class="product__image">
              <a href="#">
                <img data-src="data/product-img-1.webp" width="370" height="370" alt="" class="lazyload">
              </a>
            </div>
            <div class="product__box">
              <div class="product__price">
                <div class="product__price-old">24,804 uah</div>
                <div class="product__price-new">24,804 uah</div>
              </div>
              <a class="product__link" href="#">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#link-arrow"></use></svg>
              </a>
            </div>
          </div>
          {% include 'pagination.html' %}
        </div>
        <div class="not-found">
          <img src="/images/not-found.svg" alt="">
          <div class="title">Мы ничего не нашли по вашему запросу</div>
          <div class="text">Попробуйте изменить свой запрос</div>
        </div>
      </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>