<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="custome-page custome">
    <div class="wrapper">
    {% include 'header.html' %}
      
    <div class="top-section" style="background-image: url('data/top-section-img-2.webp')">
      <div class="head-block head-block--center">
        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="https://example.com/dresses"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">Доставка и оплата</span>
            <meta itemprop="position" content="2" />
          </li>
        </ol>
      </div>
      <div class="top-section__box">
        <div class="top-section__title">Доставка и оплата</div>
      </div>
    </div>

    <div class="service-block">
      <div class="service-block__box">
        <div class="service-block__box-image">
          <img data-src="data/service-block-img-3.png" width="1400" height="460" alt="" class="lazyload">
        </div>
        <div class="service-block__box-title">примерка товара</div>
      </div>
      <div class="service-block__content">
        <div class="service-block__text text">
          <p>Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной информации и становимся профессионалами в этой области. Для того, чтобы вы не забивали голову ненужной информацией, я составил этот чек-лист.</p>
          <p>Он поможет вам не упустить важные нюансы при покупке люстры, бра или настольной лампы. Не буду писать про очевидные и банальные вещи, такие как «люстра должна подходить по стилю», а заострю ваше внимание только на важных пунктах. Поехали!</p>
        </div>
        <div class="service-block__list">
          <div class="service-block__item">
            <div class="service-block__item-image">
              <img src="data/service-img-1.svg" width="87" height="118" alt="">
            </div>
            <div class="service-block__item-content">
              <div class="service-block__item-title">примерка товара до покупки</div>
              <div class="service-block__item-text text">
                Бывает такое, сначала купили люстру, а бра решили взять через год. Так вот, по возможности покупайте всё сразу. Иногда производители могут изменить оттенок цвета каркаса или абажура, размеры и декоративные элементы. В этом случае возможно несовпадение светильников. Не говоря уже о том, что необходимую вам модель через какое-то время могут просто вывести из производства.
              </div>
            </div>
          </div>
          <div class="service-block__item">
            <div class="service-block__item-image">
              <img src="data/service-img-2.svg" width="87" height="118" alt="">
            </div>
            <div class="service-block__item-content">
              <div class="service-block__item-title">персональный автомобиль с водителем</div>
              <div class="service-block__item-text text">
                От головы самого высокого члена семьи до люстры должно быть минимум 30 см, а в идеале 40-50 см. Если у выбранной люстры высота «впритык», советуем подробнее узнать о ней. Некоторые производители указывают высоту люстры без учета цепи и потолочной чаши. А это плюс 15-20 см, которые могут стать критичными для вас.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-block">
      <div class="service-block__box">
        <div class="service-block__box-image">
          <img data-src="data/service-block-img-1.webp" width="1400" height="460" alt="" class="lazyload">
        </div>
        <div class="service-block__box-title">Доставка</div>
      </div>
      <div class="service-block__content">
        <div class="service-block__text text">
          <p>Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной информации и становимся профессионалами в этой области. Для того, чтобы вы не забивали голову ненужной информацией, я составил этот чек-лист.</p>
          <p>Он поможет вам не упустить важные нюансы при покупке люстры, бра или настольной лампы. Не буду писать про очевидные и банальные вещи, такие как «люстра должна подходить по стилю», а заострю ваше внимание только на важных пунктах. Поехали!</p>
        </div>
        <div class="service-block__list">
          <div class="service-block__item">
            <div class="service-block__item-image">
              <img src="data/service-img-1.svg" width="87" height="118" alt="">
            </div>
            <div class="service-block__item-content">
              <div class="service-block__item-title">Самовывоз из магазина</div>
              <div class="service-block__item-text text">
                Бывает такое, сначала купили люстру, а бра решили взять через год. Так вот, по возможности покупайте всё сразу. Иногда производители могут изменить оттенок цвета каркаса или абажура, размеры и декоративные элементы. В этом случае возможно несовпадение светильников. Не говоря уже о том, что необходимую вам модель через какое-то время могут просто вывести из производства.
              </div>
            </div>
          </div>
          <div class="service-block__item">
            <div class="service-block__item-image">
              <img src="data/service-img-2.svg" width="87" height="118" alt="">
            </div>
            <div class="service-block__item-content">
              <div class="service-block__item-title">Бесплатная доставка по Харькову</div>
              <div class="service-block__item-text text">
                От головы самого высокого члена семьи до люстры должно быть минимум 30 см, а в идеале 40-50 см. Если у выбранной люстры высота «впритык», советуем подробнее узнать о ней. Некоторые производители указывают высоту люстры без учета цепи и потолочной чаши. А это плюс 15-20 см, которые могут стать критичными для вас.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-block">
      <div class="service-block__box">
        <div class="service-block__box-image">
          <img data-src="data/service-block-img-2.webp" width="1400" height="460" alt="" class="lazyload">
        </div>
        <div class="service-block__box-title">Оплата</div>
      </div>
      <div class="service-block__content">
        <div class="service-block__text text">
          <p>Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной информации и становимся профессионалами в этой области. Для того, чтобы вы не забивали голову ненужной информацией, я составил этот чек-лист.</p>
          <p>Он поможет вам не упустить важные нюансы при покупке люстры, бра или настольной лампы. Не буду писать про очевидные и банальные вещи, такие как «люстра должна подходить по стилю», а заострю ваше внимание только на важных пунктах. Поехали!</p>
        </div>
        <div class="service-block__list">
          <div class="service-block__item">
            <div class="service-block__item-image">
              <img src="data/service-img-3.svg" width="87" height="118" alt="">
            </div>
            <div class="service-block__item-content">
              <div class="service-block__item-title">Наличными</div>
              <div class="service-block__item-text text">
                  Бывает такое, сначала купили люстру, а бра решили взять через год. Так вот, по возможности покупайте всё сразу. Иногда производители могут изменить оттенок цвета каркаса или абажура, размеры и декоративные элементы. В этом случае возможно несовпадение светильников. Не говоря уже о том, что необходимую вам модель через какое-то время могут просто вывести из производства.
              </div>
            </div>
          </div>
          <div class="service-block__item">
            <div class="service-block__item-image">
              <img src="data/service-img-4.svg" width="87" height="118" alt="">
            </div>
            <div class="service-block__item-content">
              <div class="service-block__item-title">Viza/mastercard</div>
              <div class="service-block__item-text text">
                От головы самого высокого члена семьи до люстры должно быть минимум 30 см, а в идеале 40-50 см. Если у выбранной люстры высота «впритык», советуем подробнее узнать о ней. Некоторые производители указывают высоту люстры без учета цепи и потолочной чаши. А это плюс 15-20 см, которые могут стать критичными для вас.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </div>
  {% include 'js.html' %}
</body>
</html>