<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li class="footer-nav__item">
        <a href="#">Магазин</a>
      </li>
      <li class="footer-nav__item">
        <a href="#">Бренды</a>
      </li>
      <li class="footer-nav__item">
        <a href="#">Вдохновение</a>
      </li>
      <li class="footer-nav__item">
        <a href="#">О Нас</a>
      </li>
      <li class="footer-nav__item">
        <a href="#">Доставка и оплата</a>
      </li>
      <li class="footer-nav__item">
        <a href="#">Контакты</a>
      </li>
    </ul>
  </nav>
  <div class="footer-info">
    <div class="footer-info__inner">
      <div class="logo">
        <a href="/">
          <img src="data/logo.svg" data-src="data/logo-white.svg" width="157" height="28" alt="" class="lazyload">
        </a>
      </div>
      <div class="copyright">© 2018 - 2021 Empire Hall</div>
      <div class="copyright">
        Адрес<br>
        Харьков, ул. Сумская, 114
      </div>
      <div class="copyright">
        График работы<br>
        <span>пн-сб: с</span> 10:00 <span>до</span> 20:00
        <br>
        <span>вс: с </span>10:00 <span>до</span> 18:00
      </div>
      <div class="copyright">ООО "ЕМПАЕ ХОЛ"</div>

      <ul class="socials">
        <li class="socials__item">
          <a href="#" target="_blank">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#instagram"></use></svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" target="_blank">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#pinterest"></use></svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" target="_blank">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#facebook"></use></svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" target="_blank">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#youtube"></use></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-subscribe">
    <form class="footer-subscribe__form" action="#">
      <div class="form-block">
        <input class="footer-subscribe__input" type="email" name="email" placeholder="Введите адрес электронной почты, чтобы подписаться на нашу рассылку">
      </div>
      <button class="footer-subscribe__button" type="submit">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#subscribe-button"></use></svg>
      </button>
    </form>
  </div>

</footer>
{% include 'popups.html' %}