<div class="menu">
  <div class="menu__inner">
    <div class="menu__close">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#close"></use></svg>
    </div>
    <div class="menu__left">
      <div class="menu__left-box">
        <div class="menu__subtitle">Магазин</div>
        <nav class="left-nav">
          <ul class="left-nav__list scroll-menu">
            <li class="left-nav__item">
              <a href="#">Фарфор</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Столовые приборы</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Стекло</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Декор</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Вазы</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Текстиль</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Стекло</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Декор</a>
            </li>


            <li class="left-nav__item">
              <a href="#">Вазы</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Текстиль</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Стекло</a>
            </li>
            <li class="left-nav__item">
              <a href="#">Декор LAST</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="menu__right">
      <div class="menu__right-box">
        <div class="menu__subtitle">Empire Hall</div>
        <nav class="right-nav">
          <ul class="right-nav__list scroll-text">
            <li class="right-nav__item">
              <a href="#">Магазин</a>
            </li>
            <li class="right-nav__item">
              <a href="#">Вдохновение</a>
            </li>
            <li class="right-nav__item">
              <a href="#">Бренды</a>
            </li>
            <li class="right-nav__item">
              <a href="#">Новости</a>
            </li>
            <li class="right-nav__item">
              <a href="#">Доставка и оплата</a>
            </li>
            <li class="right-nav__item">
              <a href="#">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="mobile-language">
          
        </div>
        <ul class="menu-socials">
          <li class="menu-socials__item">
            <a href="#" target="_blank">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#instagram"></use></svg>
            </a>
          </li>
          <li class="menu-socials__item">
            <a href="#" target="_blank">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#pinterest"></use></svg>
            </a>
          </li>
          <li class="menu-socials__item">
            <a href="#" target="_blank">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#facebook"></use></svg>
            </a>
          </li>
          <li class="menu-socials__item">
            <a href="#" target="_blank">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite.svg#youtube"></use></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>