<ul class="pagination">
  <li class="first">
    <a href="#">
      <svg width="50" height="12" viewBox="0 0 50 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.04651 12L7.10465 10.95L2.87209 6.75L50 6.75L50 5.25L2.87209 5.25L7.10465 1.05L6.04651 -3.84254e-06L5.24537e-07 6L6.04651 12Z" />
      </svg>
      Предыдущая
    </a>
  </li>
  <li>
    <a href="#">
      <small>1</small>
    </a>
  </li>
  <li>
    <span>
      <small>2</small>
    </span>
  </li>
  <li>
    <a href="#">
      <small>3</small>
    </a>
  </li>
  <li>
    <a href="#">
      <small>4</small>
    </a>
  </li>
  <li class="dots"></li>
  <li>
    <a href="#">
      <small>12</small>
    </a>
  </li>
  <li class="last">
    <a href="#">
      Следующая
      <svg width="50" height="12" viewBox="0 0 50 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M43.9535 0L42.8953 1.05L47.1279 5.25H0V6.75H47.1279L42.8953 10.95L43.9535 12L50 6L43.9535 0Z" />
      </svg>
    </a>
  </li>
</ul>
  